.about-container {
    max-width: 100%;
    margin: auto;
    padding: 2rem;
    font-family: 'Segoe UI', sans-serif;
    color: #fdfdfd;
    background-color: #2b2727;
  }
  
  .about-container h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #ff9100;
  }
  
  .about-container section {
    margin-bottom: 2rem;
    padding: 1rem;
    background: #1a1919;
    border-left: 6px solid #ff8800;
    border-radius: 8px 10px 10px 8px;
  }
  
  .about-container h2 {
    color: #ff4800;
  }
  
  .about-container img {
    width: 100%;
    max-height: 240px;
    object-fit: cover;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .about-container ul {
    list-style: disc;
    margin-left: 1.5rem;
  }
  
  .back-home {
    display: block;
    text-align: center;
    margin-top: 3rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #ff8800;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    outline: none;
    transition: background 0.3s ease;
  }
  
  .back-home:hover {
    background-color: #ffbc04;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .about-container {
      padding: 1rem;
    }
  
    .about-container h1 {
      font-size: 1.8rem;
    }
  
    .about-container img {
      max-height: 200px;
    }
  }
  
  @media (max-width: 480px) {
    .about-container h2 {
      font-size: 1.2rem;
    }
  
    .back-home {
      font-size: 0.9rem;
      padding: 10px 20px;
    }
  }
  