.prank-container {
    display: flex;
    min-height: 100vh;
    background-image: url(../../assets/TopRank.jpg);
    background-position: center;
    background-size: cover;
  }
  .TG-Link-TOP-players {
    margin-top: 12px;
    text-align: center;
  }
  
  .TG-Link-TOP-players a {
    font-weight: bold;
    font-size: 15px;
    color: #1da1f2;
    text-decoration: none;
  }
  
  .TG-Link-TOP-players a:hover {
    text-decoration: underline;
  }
  
  .player-list {
    width: 35%;
    padding: 20px;
    overflow-y: auto;
  }   
  .password-field {
    position: relative;
  }
  
  .password-field input {
    width: 100%;
    padding-right: 40px;
  }
  
  .toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #555;
  }
  
  
  .player-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 8px;
    background: #2c2c3e;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    height: 50px;
  }
  
  .player-row.active {  
    background: #3f3f5a;
    border: 2px solid gold;
  }
  
  .rank-icon {
    width: 24px;
  }
  .noneimg{
    position: absolute;
    top: 200px;
    right: 200px;
  }
  
  .bar-icon {
    width: 20px;
    margin-right: 8px;
  }
  .exitMEnu{
    width: 100px;
    height: 50px;
  }
  
  .player-name {
    font-family: 'MyGameFont', sans-serif;
    width: auto;
    letter-spacing: 2px;
    margin: auto;
    font-size: 20px;
    color: white;
  }
  
  .player-details {
    position: relative;
    width: 65%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .details-card {
    padding: 30px;
    border-radius: 16px;
    text-align: center;
    color: white;
    width: 80%;
  }
  .countdown-timer {
    color: #ccc;
    font-size: 14px;
    margin-bottom: 12px;
    text-align: center;
  }
  .PR-Name{
    position: absolute;
    right: 140px;
    font-size: 50px;
    top: 90px;
    color: rgb(15, 12, 22);
    text-shadow: 0px 0px 40px rgb(236, 236, 236);
  }
  .rank-number {
    font-weight: bold;
    margin-right: 10px;
    font-size: 20px;
    color: #f9feff;
    text-shadow: 0px 0px 10px yellow;
  }
  
  .search-section {
    margin-top: 20px;
    text-align: center;
  }
  
  .search-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-form input {
    margin: 5px;
    padding: 8px;
    width: 80%;
  }
  
  .search-form button {
    padding: 6px 12px;
    margin-top: 5px;
  }
  
  .search-btn {
    padding: 8px 20px;
    font-size: 16px;
  }
  
  .error-msg {
    color: red;
    margin-top: 5px;
  }
  
  .top-img{
    position: absolute;
    width: 400px;
    height: auto;
    top: 0px;
    right: 20px;
  }
  .Trio{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 25px;
    right: 20px;
    top: 200px;
  }
  .PowerUlta{
    width: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 55%;
    bottom: 50px;
  }
  .bar-imgs{
    width: 100px;
  }
  .PR-Power{
    font-size: 100px;
    font-weight: 900;
    color: rgb(6, 3, 15);
  }


@media (max-width:900px){
  .PowerUlta{
    font-size: 10px;
    position: absolute;
    padding: 0px;
    bottom: 2%;
    left: 45%;
  }
  .PR-Power{
    font-size: 40px;
  }
  .bar-imgs{
    width: 50px;
  }
  .top-img{
    width: 200px;
  }
  .PR-Name{
    position: absolute;
    right: 70px;
    font-size: 30px;
    top: 30px;
  }
  .Trio{
    position: absolute;
    top: 80px;
    gap: 10px;
    right: 5px;
  }
  .noneimg{
    width: 100px;
    position: absolute;
    top: 45%;
    right: 80%;
  }
  .Trio p{
    font-size: 15px;
  }
}
  